html,body {
	width: 100%;
	height: 100%;
}
.be {
	width: 400px;
	height: 100px;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 48%; /* for optical centering */
	margin-top: -50px;
	margin-left: -100px;
}
span{
	font-size: 6em;
	position: relative;
	float: left;
	text-align: center;
}
@keyframes fade_out{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
.b{
	animation: fade_out 2s;
	animation-fill-mode: forwards; /*this tells the element's style to remain at keyframe 100%*/
	animation-delay: 1s;
	color: cyan;
}

@keyframes e_move{
	0% {top: 0px; color: cyan;}
	50% {top: 200px;}
	100% {top: 0px; right: 12px; color: purple;}
}
.e{
	animation-delay: 2s;
	animation: e_move 2s alternate cubic-bezier(0,0,1,1);
	animation-fill-mode: forwards;
}
.yourself {
	width: 400px;
	height: 100px;
	text-align: center;
	position: absolute;
	left: 555px;
	right: 12em;
	top: 48%; /* for optical centering */
	margin-top: -50px;
	margin-left: -100px;
	color: purple;
}

@keyframes fade_in{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.y, .o, .u, .r, .s, .l, .f{
	opacity: 0;
	animation: fade_in 3s;
	animation-fill-mode: forwards; /*this tells the element's style to remain at keyframe 100%*/
	animation-delay: 1s;
}
.space{
	margin-left: 4px;
	margin-right: 4px;
}